
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/dollar.jpg')
}
.master-wrapper {
  background: #999999;
  width: 920px;
  margin: 40px auto;
  padding: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}
.header {
  display: flex;
  justify-content: center;
  margin: 40px 20px;
  font-size: 20px;
  &__image {
    height: 190px;
    margin-right: 20px;

  }
  &__title {
    color: #272727;
  }
  &__title--highlight {
    color: #FFF;
  }
}
.graph-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__header {
    text-align: center;
    width: 50%
  }
}
.graph {
  background: #EEEEEE;
  border: 3px solid #272727;
  padding: 20px;
}
.info-section {
  background: lightblue;
  display: flex;
  justify-content: space-around;
  border: 3px solid #272727;
  margin-top: 25px;
  padding-bottom: 25px;
}
.transactions-container {
  width: 400px;
}
.trend-container {
  width: 400px;
  &__image {
    width: 100%;
    width: 100%;
  }
}
